.main {
  height: 100%;
  padding-top: 59px;
}

.container {
  margin-bottom: .9rem;
  padding: .6rem;
}

.ajust {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.ajust2 {
  display: grid;
  grid-template-columns: auto 1fr;
}


.margin-top {
  margin-top: 1rem;
}


.image {
  width: 100%;
}



@keyframes animate-animar-cursor {
  0% {
    color: rgb(124 58 237);
  }

  ;

  100% {
    color: rgba(0, 0, 0, 0);
  }
}

.animate-animar-cursor {
  animation: animate-animar-cursor 1s infinite;
}

@media (min-width: 640px) {
  .ajust {
    grid-template-columns: auto auto 1fr;
  }
}